 <li><a class="active" href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'insertsparepartdetails' %}">Add Spareparts</a></li>
 <li><a href="{% url 'adminspare_partview' %}">Spareparts</a></li>
            <li><a href="{% url 'orderview' %}">View Order </a></li>
  <li><a href="{% url 'customerview' %}">Customers</a></li>
            <li><a href="{% url 'paymentsview' %}">View Payaments</a></li>
            <li><a href="{% url 'achangepassword' %}">ChangePassword</a></li>
            <li><a href="{% url 'logcheck' %}">Logout</a></li>